{
    'name': '{{ name | default('grouped') }}',
    'batch_size': {{ batch_size | default(32) }},
    'group_size': {{ group_size | default(2) }},
    'num_groups': {{ num_groups | default(16) }},
    'num_batches': 100,
}
