{% if name == 'contrastive' %}
{
    'name': '{{ name }}',
    'alpha': {{ alpha | default(16.0) }},
    'parametrization': 'euclidean_distance',
    {% if npair %}
    'npair': {{ npair }},
    {% endif %}
}
{% elif name == 'triplet' %}
{
    'name': '{{ name }}',
    'alpha': {{ alpha | default(4.0) }},
    'parametrization': 'euclidean_distance',
}
{% elif name == 'margin' %}
{
    'name': '{{ name }}',
    'alpha': {{ alpha | default(0.2) }},
    'beta': {{ beta | default(1.2) }},
    'nu': {{ nu | default(0.0) }},
    'parametrization': 'euclidean_distance',
}
{% elif name == 'logistic' %}
{
    'name': '{{ name }}',
    'parametrization': '{{ parametrization | default('euclidean_distance') }}',
    {% if npair %}
    'npair': {{ npair }},
    {% endif %}
    'alpha': {{ alpha | default(16.0) }},
}
{% elif name == 'npair' %}
{
    'name': '{{ name }}',
    'parametrization': 'dot_product',
    'npair': {{ npair }},
    'lambda': {{ lambda | default(0.01) }},
}
{% endif %}
