[
{% if recall | default(True) %}
    {
        'name': 'recall',
        'k': {{ recall_k | default([1, 2, 4, 8]) }},
        'batch_size': 48,
    },
{% endif %}
{% if contrastive_train_loss | default(False) %}
    {
        'name': 'contrastive_train_loss',
        'batch_size': 48,
    },
{% endif %}
]
