[
{% if recall | default(True) %}
    {
        'name': 'recall',
        'k': {{ recall_k | default([1, 2, 4, 8]) }},
        'batch_design': {
            'name': 'vanilla',
            'batch_size': 48,
        },
        'dataset': 'test',
    },
{% endif %}
{% if contrastive_train_loss | default(False) %}
    {
        'name': 'contrastive_loss',
        'batch_design': {
            'name': 'vanilla',
            'batch_size': 48,
        },
        'dataset': 'train',
    },
{% endif %}
{% if auc | default(False) %}
    {
        'name': 'auc',
        'batch_design': {
            'name': 'pair',
            'batch_size': 48,
            'num_batches': 500,
            'positive_ratio': 0.5,
        },
        'dataset': 'test',
    },
{% endif %}
{% if nmi | default(False) %}
    {
        'name': 'nmi',
        'batch_design': {
            'name': 'vanilla',
            'batch_size': 48,
        },
        'dataset': 'test',
    },
{% endif %}
]
