{
    'name': 'inception',
    'loss': {
        'name': 'latent_position',
        'parametrization': 'bias',
        'npair': {
            'n': 16,
        },
        'alpha': 20.,
        'alpha_learning_rate': 0.01,
    },
    'metric': 'euclidean_distance',
}
