{
    'name': 'inception',
    'loss': {
        'name': 'npair',
        'n': 16,
        'parametrization': '{{ parametrization | default('dot_product') }}',
    },
    {% if parametrization | default('dot_product') == 'dot_product' %}
    'metric': 'cosine_similarity',
    {% else %}
    'metric': 'euclidean_distance',
    {% endif %}
}
